* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

    /* UTILS */
body {
    position: relative;
    font-family: 'Montserrat', sans-serif;;
}

/* <!-- HEADER --> */

#top-bar {
    height: 70px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    line-height: 70px;
}

#btt-upgrade {
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 20px;
}


/* <!-- NAV-BAR --> */

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    width: 50px;
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
}
#nav-bar img {
    height: 30px;
    width: auto;
}

#nav-bar div > ul {
    list-style-type: none;
    padding: 10px;

}
.profile span {
    padding: 18px 5px 3px;
    background-color: gray;
    border-radius: 50%;
}


/* <!-- MAIN --> */

main {
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: rgb(11, 5, 37);
    color: white;
    padding: 70px 10px 0 60px;
}

.section-genres > div {
    color: gray;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    font-size: 0.5em;
    font-weight: 700;
}

section:not(.section-genres) {
    font-size: 0.6em;
}

section .row img {
    height: 80%;
    width: 100%;
    padding-right: 10px;
}

section:not(.section-genres) .row > div {
    margin-top: 20px;
}

.album-for-you h1 {
    margin-top: 20px;
}

section .row h2 {
    margin: 5px 0;
    line-height: 15px;
}

section h3 {
    color: gray;
}

/* <!-- FOOTER --> */

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding-top: 10px;

}

#bottom-bar img {
    height: 30px;
    width: auto;
}

#bottom-bar div  {
    font-size: 1em;
    color: white;
    align-items: center;
}

#bottom-bar .btt-controls i {
    margin: 0 5%;
}

#time-bar  {
    display: inline-block;
    margin: 0 5px;
    width: 150px;
    height: 3px;
    background-color: rgb(104, 104, 104);
    border-radius: 2px;
}

#volume-bar {
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: rgb(104, 104, 104);
    border-radius: 2px;
}

h4 {
    font-size: 0.8em;
}

.far {
    font-size: 1.7em; 
}

.fa-heart, .fa-folder, p {
    color: gray;
    font-size: 0.8em;
    display: block;
}
